<!doctype html>
<html>
<head>
<script type="text/javascript"
  src="/static/dygraph-combined.js"></script>
</head>
<body>
<div align="center">
<div id="graphdiv"></div>
</div>
<script type="text/javascript">
  g = new Dygraph(
    // containing div
    document.getElementById("graphdiv"),
    // CSV or path to a CSV file.
    "Date,Temp,RH,Heater\n{{ series }}", {
      title : "Room",
      legend : 'always',
      series : {
        Heater : {
          axis: 'y2'
        },
      }
    }
  );
  g.resize(600, 400);
</script>
</body>
</html>
