<!doctype html>
<html>
<head>
<title>New Brew</title>
</head>
<body>
<div align="center">
<h1>New Brew</h1>
<div align="left" style="width:500px">
<form action="new_brew" method="POST">
  <label for="name">Name:</label><br/>
  <input type="text" value="" name="name" style="text-align: right"/>
  <br/>
  <label for="og">O.G:</label><br/>
  <input type="text" value="" name="og" size="2" style="text-align: right"/>
  <br/>
  <label for="notes">Notes:</label><br/>
  <textarea value="" name="notes" rows="10"></textarea>
  <br/>
  <input type="submit" value="Start"/>
</form>
</div>
</div>
</body>
</html>
